#other-info {
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
}

#todays-temp {
    font-size: 50px; 
    text-align: end;
}

.future-forecast-card {
    background-color: antiquewhite;
}

.img-fluid {
    width: 75%;
    margin-left: 15px;
}